<html>
    <head>
        <script type=text/javascript src="{{url_for('static', filename='js/scriptimc.js')}}"></script>
        <title>
            {{titolo}}
        </title>
    </head>
    <body>
        <h1>
            {{h1}}
        </h1>
        <p>
            {{testo}}
        </p>
        <p>
            {{peso}}
            <input type="number" id="peso">
        </p>
        <p>
            {{altezza}}
            <input type="number" id="altezza">
        </p>
        <p id="dai"> 
        </p>
        <p id="imc">
             
        </p>
        <p id="img">
             
        </p>
        
        <button onclick="Click()">{{Inizia}}</button>
    </body>
</html>